# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

apps/docs/src/data/mesh-common.json
apps/docs/src/data/mesh-contracts.json
apps/docs/src/data/mesh-core.json
apps/docs/src/data/mesh-core-csl.json
apps/docs/src/data/mesh-core-cst.json
apps/docs/src/data/mesh-providers.json
apps/docs/src/data/mesh-react.json
apps/docs/src/data/mesh-transactions.json
apps/docs/src/data/mesh-wallets.json

# svelte
.svelte-kit/
