[package]
name = "visualizer"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = { version = "0.13.2", features = ["dynamic_linking"] }
bevy_pancam = "0.11.1"
bevy_panorbit_camera = "0.17.0"
rand = "0.8.5"
rand_core = "0.6"
bevy_rand = { version = "0.5", features = ["rand_chacha", "wyrand"] }
bevy_mod_picking = "0.18.2"
serde = { version = "1.0.198", features = ["derive"] }
reqwest = { version = "0.12.4", features = ["json", "rustls-tls"] }
async-compat = "0.2.3"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
serde_json = "1.0.116"
crossbeam-channel = "0.5.12"

[target.wasm32-unknown-unknown]
runner = "wasm-server-runner"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3
